@font-face {
  font-family: "Nav";
  src: url("/static/Inter-Medium.ttf");
}

@font-face {
  font-family: "Strong";
  src: url("/static/Inter-Bold.ttf");
}

@font-face {
  font-family: "Normal";
  src: url("/static/Inter-Light.ttf");
}

@font-face {
  font-family: "Normalh4";
  src: url("/static/Inter-Regular.ttf");
}


@font-face {
  font-family: "MainTitle";
  src: url("/fonts/kulturrrno/KulturrrnoRegular.otf");
}


@font-face {
  font-family: "OtherTitle";
  src: url("/fonts/typekiln/TypekilnExtraBold.otf");
}

@font-face {
  font-family: "label";
  src: url("/fonts/typekiln/TypekilnExtraBold.otf");
}

@font-face {
  font-family: "input";
  src: url("/fonts/typekiln/TypekilnExtraLight.otf");
}


/* @font-face {
  font-family: "OtherTitle";
  src: url("/fonts/typekiln/TypekilnExtraBold.otf");
} */



/* Estilos para el scrollbar principal de la página */
body {
  /* Personalizar los colores del scrollbar */
  scrollbar-color: #a5a5a5 #f2f2f2;
  font-family: "Nav";
  transition: color .4s, background .5s, border .9s;

}


h1 {
  /* font-family: "OtherTitle"; */
  font-family: "Strong";
}
h2 {
  font-family: "OtherTitle";
}

h3 { 
  font-family: "OtherTitle";
}
h4 { 
  font: "Normalh4";
}

p { 
  font-family: "Nav";
}
span { 
  font-family: "input";
}

label { 
  /* font-family: "OtherTitle"; */
  font-family: "label";
}
input, input::placeholder { 
  font-family: 'input';
}
button { 
  font-family:'Strong' ;
}

.ligth-text { 
  font-family: "Normal";
}
/* Estilos para el scrollbar */
body::-webkit-scrollbar {
  width: 8px;
}

/* Estilos para el track (el fondo) del scrollbar */
body::-webkit-scrollbar-track {
  background-color: #f2f2f2;
}

/* Estilos para el thumb (la barra) del scrollbar */
body::-webkit-scrollbar-thumb {
  background-color: #a5a5a5;
}

/* Estilos para el thumb al pasar el cursor sobre él */
body::-webkit-scrollbar-thumb:hover {
  background-color: #888888;
}

.cuadricula {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  max-width: 400px;
  width: 100%; /* Ajusta el ancho de la cuadrícula según tus necesidades */
  height: full; /* Ajusta la altura de la cuadrícula según tus necesidades */
  /* border: 1px solid #ccc; Opcional: agregar un borde a la cuadrícula */
  gap: 12px;
}

.cuadricula-item {
  border-radius: 6px;
  flex-basis: 36px; /* Ajusta el tamaño de los elementos div según tus necesidades */
  height: 36px; /* Ajusta la altura de los elementos div según tus necesidades */
}

.nav-bar {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Ajusta los valores según tus necesidades */
}
.user-menu {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.modal { 
  z-index: 10;
}
.modal-enter {
  z-index: 10;
  opacity: 0;
}
.modal-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 300ms, transform 300ms;
}
.modal-exit {
  opacity: 0;
}
.modal-exit-active {
  opacity: 0;
  transition: opacity 300ms, transform 300ms;
}

.gradient-border {
  background: rgb(131, 58, 180);
  background: linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(253, 29, 29, 1) 50%,
    rgba(252, 176, 69, 1) 100%
  );
}
* { 
  -webkit-tap-highlight-color: rgba(0,0,0,0); 
}

*:disabled { 
  transition: all .3s;
}
*:disabled:hover {
  opacity: 0.7;
  cursor: not-allowed;
}



.magic-button { 
  transition: all .3s;
}

.loader {
  transition: border .4s;
  border: 5px solid #f3f3f3; /* Color del borde del loader */
  border-top: 5px solid #3498db; /* Color de la parte superior del loader */
  border-radius: 50%; /* Forma redondeada */
  animation: spin .6s linear infinite; /* Animación giratoria */
  margin: 0 auto; /* Centrar el loader horizontalmente */
}



.anim-opacity { 
  opacity: 0;
  animation: opacity-anim .4s ease-in forwards;

}
@keyframes opacity-anim {
  
  100% { opacity: 1; } 
}

@keyframes spin {
  0% { transform: rotate(0deg); } /* Rotación inicial */
  100% { transform: rotate(360deg); } /* Rotación completa */
}

.background-delay { 
  transition: background .3s;
}

.span-slice:hover > span {
  opacity: 1;
  z-index: 1;
 }
 .modal-button-paint { 
  z-index: -1;
  opacity: 0;
 
 }

.container-paint:hover .modal-button-paint { 
  z-index: 1;
  opacity: 1;

 }

.modal-button-paint::before { 
  background: initial;
  content: "" ;
  position: absolute;
  top: 100%;
  transform: rotate(180deg);
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #fff;

 }

 .img-to-dark { 
  transition: filter .4s ;
 }

 .filter-img { 
  filter: invert(100%);
 }

 .only-one-reading { 
  opacity: 0;
  transform: translateX(-50px);

  animation: show-dark-mode-text-anim 5s forwards;
  animation-delay: 3s;

 }
.delay-width {
  transition: all .5s;
}
.transition-text { 
  transition: all 1s;
}



 @keyframes show-dark-mode-text-anim {
  20% { 
    opacity: 1;
   transform: translateX(10px); 
  }
  70% { 
    opacity: 1;
    transform: translateX(10px); 
  }
  80% { 
    opacity: 0;
    transform: translateX(-50px);
  }
 }